.masterEx {
  background-image: url('https://s1.1zoom.me/big0/841/Meat_products_Vegetables_457159.jpg');
}

.btnExplorarDrink {
  background-color: tomato;
  border: none;
  border-radius: 5px;
  color: #f0f7ee;
  font-size: 15px;
  margin-left: 80px;
  margin-right: 12px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  width: 200px;
}

.imgMeSurpreendaDrink {
  border: none;
  border-radius: 8px;
  color: #f0f7ee;
  margin-left: 80px;
  margin-right: 12px;
  margin-top: 30px;
}

.imgIngredientesDrink {
  border: none;
  border-radius: 8px;
  color: #f0f7ee;
  margin-left: 80px;
  margin-right: 12px;
  margin-top: 20px;
}
